<h5>{{category}}</h5>
<table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of params; let i = index">
        <td>{{i+1}}</td>
        <td>{{param.name}}</td>
        <td>{{param.type}}</td>
        <td>{{param.description}}</td>
      </tr>
    </tbody>
  </table>