<!-- <h2>{{title}}</h2> -->
<!-- <app-group-path></app-group-path> -->
<!-- <app-summary></app-summary> -->
<!-- <app-page-list></app-page-list> -->
        <!-- PageList > description > inOut summary > params & returns detail -->
<!-- usage notes? -->
