<main id="group-contents-container">
  <div>
    <ul class="collection">
      <li *ngFor="let group of groups" class="collection-item">{{group.name}</li>
    </ul>
  </div>
  <div></div>
  <div *ngIf="groups.length===0">
    Can't show Object Group List, because this function is implementing
  </div>
</main>