<main id="object-contents-container">
  <div>
    <ul>
      <li *ngFor="let obj of objectList"><a routerLink="/object/{{obj.id}}">{{obj.name}}</a></li>
    </ul>
  </div>
  <div *ngIf="objectList.length===0">
    Can't show Object List, because this function is implementing
  </div>
</main>