<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" (click)="handleClick('information')">
      <a class="nav-link" [ngClass]="{'active': active==='information'}" >information</a>
    </li>
    <li class="nav-item" (click)="handleClick('inputs')">
      <a class="nav-link" [ngClass]="{'active': active==='inputs'}">inputs</a>
    </li>
    <li class="nav-item" (click)="handleClick('outputs')">
      <a class="nav-link" [ngClass]="{'active': active==='outputs'}">outputs</a>
    </li>
  </ul>