.page__group__item {
    list-style: none;
}

.page__description > p {
    white-space: pre-line;
}

.page__description > p {
    white-space: pre-line;
}

.page__list__description {
    white-space: pre-line;
}