<main>
  <section class="page__container" style="margin: 15px">
    <h2 class="page__title">{{bpObj.name}}</h2>
    <ul class="page__group">
      <li class="page__group__item" *ngFor="let g of groups">{{g}}</li>
    </ul>
    <article class="page__description">
      <h3>Desciption</h3>
      <p>{{bpObj.description}}</p>
    </article>
    <article class="page__meta">
      <h3>Meta Data</h3>
      <div class="page__meta--code">
        <h4>Code</h4>
        <pre>{{bpObj.code}}</pre>
      </div>
      <div class="page__meta--global">
        <h4>Global Code</h4>
        <pre>{{bpObj.globalCode}}</pre>
      </div>
      <div class="page__meta--referrence">
        <h4>Refferences</h4>
        <ul>
          <li *ngFor="let ref of bpObj.references">{{ref}}</li>
        </ul>
      </div>
      <p class="lang">{{bpObj.language}}</p>
      <p class="runmode">{{bpObj.runmode}}</p>
    </article>
    <article class="page__list">
      <h3>Page List</h3>
      <table class="table" style="max-width:100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Page Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcs of bpObj.functions; let i = index">
            <td>{{i+1}}</td>
            <td><app-copy-button *ngIf="funcs.public"
              [funcName]="funcs.name"
              [objName]="bpObj.name"></app-copy-button></td>
            <td>{{funcs.name}}</td>
            <td class="page__list__description">
              <p *ngIf="funcs.d_deprecated"><span style="background-color: #b33e5c">@deprecated</span></p>
              {{funcs.description}}
            </td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="page__detail">
      <h3>Page Detail</h3>
      <div *ngFor="let funcs of bpObj.functions; let i = index">
        <h4>{{funcs.name}} Page 
          <app-copy-button *ngIf="funcs.public"
              [funcName]="funcs.name"
              [objName]="bpObj.name"></app-copy-button>
        </h4>
        <app-tab-contents [objFunctions]="funcs"></app-tab-contents>
        <!-- <p *ngIf="funcs.public; else Unpublish">公開</p>
        <ng-template #Unpublish><p>非公開</p></ng-template> -->
      </div>
    </article>
  </section>
</main>
