<!--The content below is only a placeholder and can be replaced.-->
<main>
<div style="text-align:center">
  <p style="text-align: center">the document generator for objects of blue prism.</p>
</div>
<section>
  
  <!-- テキストファイルを選択するinput -->
  <file-drop (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <input type="file" (change)="onChangeInput($event)" style="display:none">
      <span>Please put the object package file here!</span>
  </file-drop>

  <!-- テキストファイルの内容を表示するエリア -->
  <a download id="downloadLink" #downloadLink style="display:none;"></a>
</section>
</main>

