<app-tab-nav (changeTab)="tab=$event"></app-tab-nav>
<section>
  <div [ngClass]="{'hide__display':tab!=='information'}">
    <app-description [description]="funcs.description" [preconditions]="funcs.precondition" [postconditions]="funcs.postcondition"></app-description>
  </div>
  <div [ngClass]="{'hide__display':tab!=='inputs'}">
    <app-params [category]="'input'" [params]="funcs.inputs"></app-params>
  </div>
  <div [ngClass]="{'hide__display':tab!=='outputs'}">
    <app-params [category]="'output'" [params]="funcs.outputs"></app-params>
  </div>
</section>