<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text fa fa-search" id="basic-addon1"></span>
    </div>
    <input type="text" class="form-control" 
      placeholder="search object or group"
      [formControl]="control">
  </div>
  