<section> 
    <h5>Description</h5>
    <p class="description">{{description}}</p>
    <h5>Pre Conditions</h5>
    <ul>
        <li *ngFor="let cond of preconditions">{{cond}}</li>
    </ul>
    <h5>Post Conditions</h5>
    <ul>
        <li *ngFor="let cond of postconditions">{{cond}}</li>
    </ul>
</section>