/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header, main, footer {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.sidenav-fixed{
  width: 200px;
}

// .sidenav-left{
//   padding-left: 200px;
//   width: 100px;
// }