<main>
  <div *ngIf="router.url==='/searchResult'">
    <div *ngIf="searchResultObjects.length!==0">
      <p>Objects</p>
      <ul>
        <li *ngFor="let obj of searchResultObjects"><a routerLink="/object/{{obj.id}}">{{obj.name}}</a></li>
      </ul>
    </div>
    <div *ngIf="searchResultPageObjects.length!==0">
      <p>Actions</p>
      <ul *ngFor="let obj of searchResultPageObjects">
        <p>{{obj.name}}</p>
        <li *ngFor="let func of obj.functions">
          <a routerLink="/object/{{obj.id}}">{{func.name}}</a>
          <span style="margin-right:1em;"></span>
          <app-copy-button *ngIf="func.public"
            [funcName]="func.name"
            [objName]="obj.name"></app-copy-button>
        </li>
      </ul>
    </div>
  </div>
</main>

